.mobileFrame {
  right: -100%;
  margin-bottom: 0;
  height: 520px;
  width: 299px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
  mask-image: radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  display: block;
  position: relative;
  transition: 0.5s;
}
.mobileFrame.show {
  right: 0;
}
.zaloAppWrapper {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  height: 660px;
  width: 340px;
  z-index: 3;
  background-image: url("../../../public/images/Phoneframe.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  transform: translateY(-50%);
}

.productSkuWrapper {
  width: 100%;
  margin: auto;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  display: block;
  height: 0;
  padding-bottom: 58.823529411%;
}
.productSkuWrapperBox {
  width: 100%;
}
.zaloValuePropositionImageWrapper {
  position: absolute;
  top: 12%;
  height: 88%;
  width: 100%;
  overflow: hidden;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
  mask-image: radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.bannerSku {
  background-color: blue;
}

.values {
  /* transform: translateX(100%); */
}

.zaloWrapper {
  position: absolute;
  width: 297px;
  top: 3%;
  height: 97%;
}

.productCards {
  width: 100%;
}
.zaloContainer {
  height: 89.5%;
  width: 297px;
  border-radius: 30px;
  background-image: url("../../../public/images/Screen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 22px;
  position: relative;
  overflow: hidden;
  mask-image: radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.zaloSkuImages {
  width: 100%;
  height: 50%;
}
