.fixedHeaderWrapper {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  margin: 0 35px;
}
.fixedHeaderContainerBox {
  position: absolute;
  top: -100px;
  z-index: 20;
  width: 100%;
  display: flex;
  justify-content: center;
}
.fixedHeaderContainerBox.show {
  position: fixed;
  top: 20px;
}
.fixedHeaderContainer {
  height: 70px;
  background-color: #ffffff;
  width: 465px;
  box-shadow: 0px 20px 20px rgba(103, 128, 155, 0.2);
  border-radius: 100px;
  position: relative;
  direction: rtl;
  transition: 0.5s;
}
.fixedHeaderContainer.show {
  width: 95%;
}

.dot {
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background: #d7dbdf;
  margin-right: 32px;
}
.headerAdvantage {
  text-decoration: none;
}
.headerTelioAppsContainer {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.BuyOnZaloWrapper {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
}
.BuyOnZaloWrapper:hover {
  cursor: pointer;
}

.buyOnZaloText {
  color: #286af6;
  letter-spacing: 0.8px;
  font-family: "AvertaStdCY-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  padding: 0 20px 0 0;
  white-space: nowrap;
}
.downloadAppText {
  color: #000000;
  letter-spacing: 0.8px;
  font-family: "AvertaStdCY-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  padding: 0 20px 0 0;
  white-space: nowrap;
}
.BuyOnZaloWrapper:nth-of-type(3) {
  border-right: 1px solid #a3aab1;
}

.headerZaloImage {
  margin: 0 10px 0 20px;
  width: 100%;
  padding-bottom: 50.5088235294%;
  display: block;
  height: 0;
  position: relative;
}
.logoTelioBox {
  width: 85px;
}
.headerAboutTelio {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 40px;
  opacity: 0;
  transition: 0.5s;
}
.headerAboutTelio.show {
  opacity: 1;
}
.headerAboutTelio_flex {
  flex: 1;
}
.headerAboutTelioText {
  font-family: "AvertaStdCY-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  color: #465059;
  margin: 0px 10px;
  text-transform: uppercase;
}

.headerIcons {
  margin: 0 10px 0 20px;
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
}

.dropDownBarWrapper {
  justify-content: center;
  direction: ltr;
  padding-left: 16px;
  border-left: 1px solid #a3aab1;
  display: none;
  height: 35px;
  position: relative;
}
.dropDownBarWrapper.show {
  display: block;
}

.fixedHeaderDropDown {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  position: relative !important;
  top: -10px;
  z-index: 20;
}

.dropdownButton:hover {
  cursor: pointer;
}

.fixedHeaderDownloadDropDown {
  direction: ltr;
  right: auto;
  top: 70%;
}

.localeFlag {
  display: block;
  position: relative;
  width: 36px;
  height: 36px;
}
.heroSubText {
  font-family: "AvertaStdCY-Bold";
  color: white;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 1px;
  position: absolute;
  top: -1.6rem;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
}
.heroSubText.show {
  opacity: 1;
}
.headerAboutTelioText:hover {
  color: #0795ff;
}
.fixedHeaderLater.show {
  width: 95%;
  z-index: 101;
  transition: 0.5s !important;
}
@media only screen and (max-width: 1300px) {
  .headerAbout {
    display: none;
  }
}
@media only screen and (max-width: 1150px) {
  .headerSource {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  /* .headerAdvantage{
      display: none;
    }   */
  .headerAboutTelio {
    padding: 0 20px;
  }
  .headerTelioAppsContainer {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 678px) {
  .headerAdvantage {
    display: block;
  }
  .headerTelioAppsContainer {
    display: none;
  }
  .fixedHeaderContainer {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 1800px) {
  .fixedHeaderContainer {
    top: -3.3%;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1800px) {
  .fixedHeaderContainer {
    top: -2.9%;
  }
}

@media only screen and (max-width: 1004px) {
  .dot {
    margin-right: 15px;
  }
  .headerAboutTelioText {
    margin: 10px;
  }
}

@media only screen and (max-width: 856px) {
  .headerAboutTelioText {
    display: none;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1300px) {
  .fixedHeaderContainer {
    top: -1%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) and (min-height: 1000px) and (max-height: 1400px) {
  .fixedHeaderContainer {
    top: -1%;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1400px) and (min-height: 640px) and (max-height: 810px) {
  .fixedHeaderContainer {
    top: -2%;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1400px) and (min-height: 600px) and (max-height: 640px) {
  .fixedHeaderContainer {
    top: -1.5%;
  }
}
