.investorsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 100%;
  margin-bottom: 140px;
  height: 650px;
  box-sizing: border-box;
}
.investorsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 118px;
  border-left: transparent;
  border-right: transparent;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}
.investorLogoContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e0e0;
  border-left: transparent;
  border-right: transparent;
  box-sizing: border-box;
  padding: 0 30px;
  width: 100%;
}
.investorLogo {
  height: 40px;
  display: block;
  position: relative;
}
.tigerGlobalLogo {
  width: 271px;
}
.sequoiaLogo {
  width: 223px;
}
.ggvCapitalLogo {
  width: 240px;
}
.rtpGlobalLogo {
  height: 84px;
  width: 100px;
}
.vngLogo {
  height: 89px;
  width: 100px;
}
.investorLogoContainer:nth-child(2) .investorLogo {
  position: relative;
  bottom: 3px;
}
@media only screen and (max-width: 765px) {
  .investorLogoContainer:nth-child(-n + 5) {
    border-bottom: transparent;
  }
}

@media only screen and (min-width: 600px) {
  .investorsSection {
    margin-bottom: 200px;
    height: auto;
  }
}

@media only screen and (min-width: 992px) {
  .investorsSection {
    padding: 16px 11%;
  }
  .investorLogoContainer:nth-child(-n + 3) {
    border-bottom: 1px solid #e0e0e0;
  }
  .investorLogoContainer {
    border-right: 1px solid #e0e0e0;
    width: auto;
  }
  .investorLogoContainer:nth-last-child(1) {
    border-right: transparent;
  }
  .investorLogoContainer:nth-child(3) {
    border-right: transparent;
  }
  .investorLogoContainer:nth-child(n + 4) {
    border-top: transparent;
  }
  .breakDiv {
    flex-basis: 100%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 991px) {
  .investorsSection {
    padding: 16px 6.5%;
  }
  .investorLogoContainer {
    min-width: 256px;
  }
  .investorLogoContainer {
    border-right: 1px solid #e0e0e0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .investorLogoContainer {
    min-width: 288px;
    width: 50%;
  }
  .investorLogoContainer:nth-child(n + 3) {
    border-top: transparent;
  }

  .investorLogoContainer:nth-child(5) {
    border-right: transparent;
  }
  .investorLogoContainer:nth-child(6) {
    border-right: transparent;
  }
  .investorLogoContainer:nth-child(2) {
    border-right: transparent;
  }
  .investorsSection {
    margin-bottom: 236px;
  }
}
