.reviewsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  width: 100%;
  margin: 50px 0 50px 0;
}
.reviewsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.reviewCardContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1),
    0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 24px;
  border-radius: 16px;
  max-width: 343px;
  width: 100%;
  margin: 12.5px 17px;
  box-sizing: border-box;
  border: 2px solid #ffc52e;
}
.reviewCardUserContainer {
  display: flex;
  margin-bottom: 28px;
}
.reviewCardUserAvatar {
  height: 110px;
  width: 110px;
  margin: 0;
  display: block;
  position: relative;
  margin-right: 11px;
  border-radius: 55px;
  overflow: hidden;
}
.reviewCardUserDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.reviewCardUserName {
  font-family: 'AvertaStdCY-Bold';
  text-transform: uppercase;
  letter-spacing: 2.4px;
  font-weight: bold;
  line-height: 120%;
  font-size: 16px;
  color: #465059;
}
.reviewCardUserLocation {
  font-family: 'AvertaStdCY-Regular';
  font-size: 16px;
  color: #646b72;
  letter-spacing: 1px;
  line-height: 120%;
}
.reviewCardText {
  font-family: 'AvertaStdCY-Regular';
  font-size: 16px;
  color: #465059;
  line-height: 150%;
  letter-spacing: 1px;
  min-height: 90px;
}
.reviewCardTextContainer {
  display: flex;
  flex-direction: column;
}
.reviewCardQuotation {
  width: 18.67px;
  height: 14.08px;
  margin: 0;
  margin-bottom: 14px;
  display: block;
  position: relative;
}
.reviewCardQuotationInverted {
  transform: rotate(180deg);
  align-self: flex-end;
  margin-bottom: 0;
  margin-top: 14px;
}
@media only screen and (min-width: 600px) {
  .reviewsSection {
    margin: 0;
    padding: 180px 0;
  }
  .reviewCardContainer {
    width: 350px;
  }
}
