@import '../../../styles//typography.css';

.phoneCardContainer {
  display: flex;
  justify-content: left;
  box-sizing: border-box;
  background-color: #dbf0ff;
  padding: 0 5rem 0 5rem;
  z-index: 4;
  width: 100%;
  position: relative;
}
.phoneCardContainer.show {
}
.zaloFeaturesWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: center;
  width: 60%;
  position: relative;
}
.valueIcon {
  width: 140px;
  height: 140px;
  margin-top: 25px;
  display: block;
  position: relative;
}

.phoneCardsWrapper {
  display: flex;
  justify-content: center;
  padding: 0 16px;
  height: 100vh;
  box-sizing: border-box;
}

.phoneFrameWrapper {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 100vh;
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
}
.phoneFrameWrapper.show {
  position: fixed;
}
.show2 {
  position: absolute !important;
  bottom: 0 !important;
  top: unset !important;
}
.featureCardContianer {
  display: block;
  width: 100%;
  position: relative;
}

.featureCard {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
}

.featureCardTextWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding: 16px;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
}

.featureCardHeading {
  font-family: 'AvertaStdCY-Bold';
  letter-spacing: 2.43px;
  text-transform: uppercase;
  font-size: 60px;
  color: #0795ff;
  letter-spacing: 4px;
  line-height: 120%;
}

.featureCardText {
  letter-spacing: 1px;
  color: #0795ff;
  margin-top: 1.5rem;
  font-size: 24px;
  font-family: 'AvertaStdCY-Regular';
  line-height: 150%;
  letter-spacing: 1px;
  max-width: 80%;
}

@media (max-width: 700px) {
  .phoneCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .phoneCardsWrapper {
    margin-bottom: 32px;
  }
  .phoneFrameWrapper {
    margin-bottom: 15%;
  }
}
.BuyOnZaloWrapper {
  display: flex;
  width: fit-content;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  /* Drop Shadow / Strong Shadow */

  box-shadow: 0px 10px 40px rgba(103, 128, 155, 0.4);
  border-radius: 200px;
}
.BuyOnZaloWrapperBox {
  width: 60%;
  height: 64px;
  display: flex;
  justify-content: center;
}
.fixZaloButton {
  position: absolute;
  width: 100%;
  height: 30vh;
  background: linear-gradient(
    180deg,
    rgba(219, 240, 255, 0) 0%,
    #dbf0ff 19.57%
  );
  z-index: 3;
  top: 70vh;
  display: flex;
  justify-content: center;
}
.fixZaloButton.show1 {
  position: fixed;
}

.buyOnZaloText {
  color: #286af6;
  letter-spacing: 0.8px;
  font-family: 'AvertaStdCY-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  padding: 0 20px 0 0;
  white-space: nowrap;
}
.headerIcons {
  margin: 0 10px 0 20px;
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
}
